---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_API_KEY>&lang=en&limit=10&offset=0&q=Clear%20throughout%20the%20day.&rating=R
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"ivcVZnZAEqhs4","slug":"water-ocean-sea-ivcVZnZAEqhs4","url":"https:\/\/giphy.com\/gifs\/water-ocean-sea-ivcVZnZAEqhs4","bitly_gif_url":"https:\/\/gph.is\/N3vnqW","bitly_url":"https:\/\/gph.is\/N3vnqW","embed_url":"https:\/\/giphy.com\/embed\/ivcVZnZAEqhs4","username":"","source":"https:\/\/www.tumblr.com","rating":"g","content_url":"","source_tld":"www.tumblr.com","source_post_url":"https:\/\/www.tumblr.com","is_sticker":0,"import_datetime":"2014-02-17
        20:11:30","trending_datetime":"1970-01-01 00:00:00","images":{"fixed_height_still":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/200_s.gif","width":"415","height":"200"},"original_still":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/giphy_s.gif","width":"400","height":"193"},"fixed_width":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/200w.gif","width":"200","height":"97","size":"66511","mp4":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/200w.mp4","mp4_size":"14403","webp":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/200w.webp","webp_size":"60830"},"fixed_height_small_still":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/100_s.gif","width":"207","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/200_d.gif","width":"415","height":"200","size":"344305","webp":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/200_d.webp","webp_size":"111710"},"preview":{"width":"360","height":"172","mp4":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/giphy-preview.mp4","mp4_size":"44284"},"fixed_height_small":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/100.gif","width":"207","height":"100","size":"209520","mp4":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/100.mp4","mp4_size":"116575","webp":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/100.webp","webp_size":"61470"},"downsized_still":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/giphy-downsized_s.gif","width":"400","height":"193","size":"54489"},"downsized":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/giphy-downsized.gif","width":"400","height":"193","size":"653107"},"downsized_large":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/giphy.gif","width":"400","height":"193","size":"653107"},"fixed_width_small_still":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/100w_s.gif","width":"100","height":"48"},"preview_webp":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/giphy-preview.webp","width":"218","height":"105","size":"49440"},"fixed_width_still":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/200w_s.gif","width":"200","height":"97"},"fixed_width_small":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/100w.gif","width":"100","height":"48","size":"66511","mp4":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/100w.mp4","mp4_size":"34531","webp":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/100w.webp","webp_size":"15446"},"downsized_small":{"width":"400","height":"192","mp4":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/giphy-downsized-small.mp4","mp4_size":"61306"},"fixed_width_downsampled":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/200w_d.gif","width":"200","height":"97","size":"99855","webp":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/200w_d.webp","webp_size":"30852"},"downsized_medium":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/giphy.gif","width":"400","height":"193","size":"653107"},"original":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/giphy.gif","width":"400","height":"193","size":"653107","frames":"12","mp4":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/giphy.mp4","mp4_size":"62406","webp":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/giphy.webp","webp_size":"208180"},"fixed_height":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/200.gif","width":"415","height":"200","size":"209520","mp4":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/200.mp4","mp4_size":"16149","webp":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/200.webp","webp_size":"221844"},"looping":{"mp4":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/giphy-loop.mp4","mp4_size":"4716705"},"original_mp4":{"width":"480","height":"230","mp4":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/giphy.mp4","mp4_size":"62406"},"preview_gif":{"url":"https:\/\/media1.giphy.com\/media\/ivcVZnZAEqhs4\/giphy-preview.gif","width":"139","height":"67","size":"48040"},"480w_still":{"url":"https:\/\/media4.giphy.com\/media\/ivcVZnZAEqhs4\/480w_s.jpg","width":"480","height":"232"}},"title":"clear
        water GIF","_score":413.329,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c2fa61f677a536859067825&event_type=GIF_SEARCH&gif_id=ivcVZnZAEqhs4&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c2fa61f677a536859067825&event_type=GIF_SEARCH&gif_id=ivcVZnZAEqhs4&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c2fa61f677a536859067825&event_type=GIF_SEARCH&gif_id=ivcVZnZAEqhs4&action_type=SENT"}}},{"type":"gif","id":"3orifgxI1xzGrQOjGU","slug":"movie-the-rock-michael-bay-3orifgxI1xzGrQOjGU","url":"https:\/\/giphy.com\/gifs\/movie-the-rock-michael-bay-3orifgxI1xzGrQOjGU","bitly_gif_url":"https:\/\/gph.is\/1PByRQQ","bitly_url":"https:\/\/gph.is\/1PByRQQ","embed_url":"https:\/\/giphy.com\/embed\/3orifgxI1xzGrQOjGU","username":"","s[...]
